@tailwind base;
@tailwind components;
@tailwind utilities;


body {	
	transition: background-color 5s ease-in-out;
	margin: 0;
}

@keyframes fadeInScale {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


.website-content p {
	margin-bottom: 1em;
}

